h1,html,p {
  font-size:16px
}

h1,h2,h3,h4,h5,h6 {
  font-weight:400
}

#home,#lost,#work {
  background-color:#FFF;
  min-height:100%;
  display:-ms-flexbox
}

#home,#home header,#lost,#lost header,#work,#work header {
  display:-ms-flexbox
}

#home footer ul,#lost footer ul,#work footer ul {
  display:inline-block;
  list-style:none;
  padding:0
}

#home footer li,#lost footer li,#work footer li {
  float:left;
  padding-right:30px
}

html {
  padding:60px;
  margin:0;
  height:100%;
  box-sizing:border-box;
  font-family:"-apple-system-font","San Francisco Display","Helvetica Neue",Helvetica,sans-serif;
  -webkit-font-smoothing:antialiased;
}

body {
  padding:0;
  margin:0;
}

*,::after,::before {
  box-sizing:inherit;
}

a {
  color:#86868E;
}

a:hover {
  color:#0BB793;
}

.wrap {
  margin:0 auto;
  max-width:940px;
  width:100%;
}

#home header .copy, #lost header .copy, #work header .copy
{
  max-width:360px;
  line-height:28px;
}

h2 {
  font-size:28px;
}

h3 {
  font-size:34px;
}

h4 {
  font-size:40px;
}

h5 {
  font-size:46px;
}

h6 {
  font-size:52px;
}

#home {
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
}

#home header {
  -ms-flex-align:top;
  align-items:top;
  display:flex;
  -ms-flex:1;
  flex:1;
}

#home header .title {
  margin-bottom:-6px;
}

#home header .copy {
  margin-top:60px;
}

#home footer ul {
  margin:0;
}

#work {
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
}

#work header {
  -ms-flex-align:top;
  align-items:top;
  display:flex;
  -ms-flex:1;
  flex:1;
}

#work header .title {
  margin-bottom:-6px;
}

#work header .copy {
  margin-top:60px;
}

#work footer ul {
  margin:0;
}

#lost {
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
}

#lost header {
  -ms-flex-align:top;
  align-items:top;
  display:flex;
  -ms-flex:1;
  flex:1;
}

#lost header .title {
  margin-bottom:-6px;
}

#lost header .copy {
  margin-top:60px;
}

#lost footer ul {
  margin:0;
}
